.wrapper-main {
	margin-top: 80px;
	width: 1000px;
}

.wrapper-heading {
	text-align: center;
	font-size: 25px !important;
	text-transform: capitalize;
}

.form-container {
	/*margin-left: 100px;*/
	/*margin-right: 100px;*/
}

.well-data {
	margin-left: 150px;
	margin-right: 200px;
}

.btn-width {
	width: 100%;
}
/*Bootstrap customization*/

.form-control {
	box-shadow: none;
}

.form-control:focus {
	box-shadow: none;
	border-color: #7DC67D;
}

.add-remove {
	padding: 5px 0px 0px 0px;
	font-size: 20px;
}

.add-remove .glyphicon-remove-circle {
	color: #E68080;
	cursor: pointer;
}