<!DOCTYPE html>
<html>
<head>
	<title>Demo - IVR </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/base-style.css"/>
	<script src="/static/js/jquery-1.11.3.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container  wrapper-main">
		<div class="panel panel-default">
			<div class="panel-heading wrapper-heading">Customize callhub demo IVR</div>
			<div class="panel-body">
				<div class="form-container">
					<form role="form" class="form-horizontal" method="POST">
						{% csrf_token %}
						<div class="form-group">
							<label class="control-label col-sm-2">Phone Number</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" autocomplete="off" value="+1 888-314-8506" disabled="true">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2">Welcome Message</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" autocomplete="off" 
									placeholder="Welcome Message" value="{{ ivr_phone.welcome_message }}" name="welcome_message-{{ ivr_phone.id }}">
							</div>
						</div>
						{% for data in ivr_data %}				
							<div class="form-group" id="form-row-{{ forloop.counter }}">
								<label class="control-label col-sm-2">Option {{ forloop.counter }}</label>
								<div class="col-sm-3">
									<input type="text" class="form-control" autocomplete="off" 
										placeholder="Option {{ forloop.counter }}" value="{{ data.ivr_option }}" name="ivr_option-{{ data.id }}">
								</div>
								<div class="col-sm-2">
									<select class="form-control" name='option_type-{{ data.id }}'>
										{% if data.option_type == 'Redirect to' %}
											<option selected="selected">Redirect to</option>
											<option>Add Speak</option>
										{% elif data.option_type == 'Add Speak' %}
											<option>Redirect to</option>
											<option selected="selected">Add Speak</option>
										{% endif %}
									</select>
								</div>
								<div class="col-sm-4">
									<input type="text" class="form-control" name='option_value-{{ data.id }}' autocomplete="off" value="{{ data.option_value }}">
								</div>

								<div class="col-sm-1 add-remove">
									<span class='glyphicon glyphicon-remove-circle' aria-hidden="true" onclick="deleteOption({{ data.id }})"></span>
								</div>
							</div>
						{% endfor %}
						<div class="form-group" id="alter-option">
							<div class="col-sm-offset-2 col-sm-3">
								<button type="submit" class="btn btn-success btn-width">Save Edits</button>
							</div>
							<div class="col-sm-2">
								<button type="button" class="btn btn-success btn-width" onclick="addOption();">
									<span class='glyphicon glyphicon-plus' aria-hidden="true"></span>
									Add Option
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript">
	function deleteOption(delete_id) {
	$("#form-row-" + delete_id).hide();
	$.post("/option/delete/", {id: delete_id});
}
</script>
</body>
</html>